/*
#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 60px;
	width: 100%;
	background: white;
	visibility: visible;
}*/


body {
	background-color: white;
	text-align: center;
}


#tit {
	width: 50%;
}

#ed {
	width: 5%;
}

.result {
	text-decoration: none;
	color: black;
}

#results a:hover {
	text-decoration: overline;
	color: black;
}


#liner {
	color: charcoal;
}

#title {
	color: CadetBlue;
	text-decoration: bold;
	background-color: white;
	margin-top: 0;
}

#tbmarket {
	color: CadetBlue;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0;
}

.navbar-brand {
	position: relative;
	top: -10px;
}

p {
	color: CadetBlue;
}

#fav {
	position: relative;
	top: -10px;
}